@model adventureworks.Models.usuario
@using adventureworks.Utils

@{
    ViewBag.Title = "Registro";
    Layout = "~/Views/Shared/_SignUpLayout.cshtml";
}
<section class="signup">
    <!-- <img src="images/signup-bg.jpg" alt=""> -->
    <div class="container">
        <div class="signup-content">
            <h2 class="form-title">Crear cuenta</h2>
            @using (Html.BeginForm("Create", "Usuarios", FormMethod.Post, new { enctype = "multipart/form-data", @id = "signup-form", @class = "signup-form" }))
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="text" class="form-input" name="usuario_nombre" id="usuario_nombre" placeholder="Tu nombre" />
                </div>
                <div class="form-group">
                    <input type="text" class="form-input" name="usuario_codigo" id="usuario_codigo" placeholder="Tu codigo único" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" name="usuario_contrasena" id="usuario_contrasena" placeholder="Password" />
                    <span toggle="#usuario_contrasena" class="zmdi zmdi-eye field-icon toggle-password"></span>
                </div>
                <div class="form-group">
                    <input type="password" class="form-input" name="re_password" id="re_password" placeholder="Repite la contraseña" />
                </div>
                <div class="form-group">
                    <button type="submit" name="submit" id="submit" class="form-submit">
                        @UiMessages.btnSignUp <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                </div>
            }
            <p class="loginhere">
                Ya tienes una cuenta? <a href="@Url.Action("Login","Login")" class="loginhere-link">Inicia sesi&oacute;n aqu&iacute;</a>
            </p>
        </div>
    </div>
</section>

@if (!ViewData.ModelState.IsValid && ViewData.ModelState.Values.Any(v => v.Errors.Count > 0))
{
    var erroresHtml = string.Join("<br>", ViewData.ModelState.Values
    .SelectMany(v => v.Errors)
    .Select(e => HttpUtility.JavaScriptStringEncode(e.ErrorMessage)));

    <script>
        $(document).ready(function () {
            Swal.fire({
                title: 'Errores en el formulario',
                html: '@Html.Raw(erroresHtml)',
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        });
    </script>
}

<script>
    $(document).ready(function () {
        $("#signup-form").submit(function (event) {
            let $password = $("#usuario_contrasena");
            let $re_password = $("#re_password");

            if ($re_password.val() != $password.val()) {
                event.preventDefault();
                Swal.fire({
                    html: 'Las contraseñas no coinciden',
                    icon: 'error',
                    confirmButtonText: 'Cerrar'
                });
            }
        });
    });
</script>

@*using (Html.BeginForm())*@
